.food-card{

    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .5rem;

    max-width: 700px;
    row-gap: 1rem;
    
     
    
}

.food-card-image-container{
  width: 225px;
  height: 150px;
  border: 4px solid #c59d5f;
  
  border-radius: .2rem;
}
.food-card-image{
   height: 100%;
   width: 100%;
    
   
    
    margin-left: 0;
    margin-right: 0;
    
}

.food-card-info{
    width: 50%;

    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    
}

.food-card-title{
    color: #102a42;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: inline;
    font-size: 1.2rem

}
.food-card-header{
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    padding-bottom: 5px;
    
    border-bottom: .5px dotted #617d98;
    
}


.food-card-price{
color:#c59d5f;
font-size: 1rem;
letter-spacing: 1px;
font-weight: bold


}

.food-card-description{
color: #102a42;
line-height: 1.6;
opacity: .7;
}
    

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {
.food-card{
   
    width:82%;
    
}

.food-card-image-container{
  width: 100%;
  height: auto;
}

.food-card-info{
    width: 100%;
}
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .food-card{
  
    width:70%;
    flex-direction: column;
    
}
.food-card-image-container{
  width: 100%;
  height: auto;
}
.food-card-info{
    width: 100%;
}
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .food-card{
   
    width:60%;
    flex-direction: row;
    column-gap: 1.2rem;
    justify-content: center;    
}
.food-card-image-container{
  width: 40%;
  height: auto;
}
}

